<div class="container-fluid  p-4 my-3 bg-info text-white">
	<h1 align="center">Welcome to our page</h1>
</div>

<%#= link_to 'My Blog', controller: 'articles' %>
<br>
<br>
<!-- <p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p> -->
